[Unit]
Description=UEFI variable storage

[Service]
ExecStart=/usr/bin/env uefivar
Restart=always
Type=dbus
BusName=com.yadro.UefiVar

[Install]
WantedBy=multi-user.target
